.input-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 8px;
}

.input-container label {
  font-weight: bold;
}

.input-container input {
  width: 100%;
}

.input-container .input-error-message {
  color: red;
}
