.FormCheckout {
  width: 400px;
  display: flex;
  margin-bottom: 50px;
}

.FormCheckout form {
  width: 320px;
}

.FormCheckout input {
  width: 80%;
  font-size: 15px;
  padding: 10px;
  margin: 10px 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
